<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ale.groceryshoppingassistant">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/empty_shopping_basket_512" android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>

        <activity android:name=".FoodActivity">

        </activity>

        <activity android:name=".TaskActivity">

        </activity>
    </application>

</manifest>
